*, *::before, *::after {
    box-sizing: border-box;

}

body {
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}

.header-row {
    background-color: #F3EED9;
}

.container {
    max-width: 1128px;
    width: 80%;
    margin: 0 auto;
    padding: 4em 0; 
}

.text-container {
    width: 50%;
}

.header-text {
    padding: 6em 0;
    text-align: center;
}

h3 {
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    letter-spacing: 7px;
    margin-bottom: 5px;
}

h1 {
    font-size: 3rem;
    color: #824936;
    font-family: 'Playfair Display', serif;
    font-weight: 600;
    margin-top: 10px;
}

.top-row {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top-text {
    display: flex;
}

p + p {
    margin-left: 30px
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 21px;
    font-weight: 200;
    line-height: 1.5;
}

.top-row > h2 {
    color: #824936;
    font-family: 'Playfair Display', serif;
    font-weight: 600;
    font-size: 36px;
}

.middle{
    background-color: #222C2A;
}

.middle-row {
    display: flex;
    align-items: center;
}

.middle-text {
    margin-right: 40px;
}

.middle-text > h2 {
    color: #F3EED9;
    font-family: 'Playfair Display', serif;
    font-weight: 600;
    font-size: 36px;
}

.middle-text > p {
    color: white;
}


.bottom {
    background-color: #824936;
}

.bottom-row {
    display: flex;
    align-items: center;
}

.bottom-text {
    margin-left: 40px;
}

.bottom-text > h2 {
    color: #F3EED9;
    font-family: 'Playfair Display', serif;
    font-weight: 600;
    font-size: 36px;
}

.bottom-text > p {
    color: white;
}

@media (max-width: 800px) {

    .top-text {
        display: block;
    }

    .text-container {
        margin: 0 auto;
        width: 80%;
        margin-bottom: 15px;
    }

    .container {
        display: block;
        margin: 0 auto;
        width: 90%;
    }

    img {
        display: flex;
        justify-content: center;
    } 

    .top-row {
        display: block;
        margin: 0 auto;
    }

    h2 {
        display: flex;
        justify-content: center;
        text-align: center;
    }

    p {
        text-align: center;
    }
}
